
<div>
    <a href="/" style="position:absolute;left:10%;top:10%;text-decoration:none;"><i class="fas fa-home fa-2x"></i>Home</a>
    <div class="row mt-5">
      <div class="col-md-7 m-auto">
        <div class="card card-body text-center">
          <h1><i class="fas fa-calculator fa-3x"></i></h1>
          <table class="table table-bordered table-striped">
            <tr>
          <td id="a"> <h6><a href="admin/goal">Create Goal </a></h6></td>
          <td><h6><a href="admin/displaygoal">Display Goal </a></h6>
          
          </td>
        </tr>
        <tr>
          <td><h6><a href="admin/display">Daily Employee Input </a></h6>
          <td><h6><a href="admin/displayUser">Employee List</a></h6></td>
        </tr>
        <tr>
          <td colspan="2"><h6><a href="admin/Incentive">Incentive Calculator</a></h6></td>
        </tr>
        </table>
        </div>
      </div>
    </div>
    
  </div>
  