<div>
        <a href="/" style="position:absolute;left:2%;top:2%;text-decoration:none;"><i class="fas fa-home fa-2x"></i>Home</a>
        <a href="/admin" style="position:absolute;left:2%;top:9%;text-decoration:none;"><i class="fas fa-user-shield fa-2x"></i>Admin page</a>
  
      <div class="row mt-7">
      <div class="col-md-8 m-auto">
        <div class="card card-body">
              <h3>Incentive page</h3></br>
              <form method="POST" action="/admin/userIncentive">
                Enter Employee-ID:<input type="name" name="emp" required>
                <button type="submit">Display</button> 
              </form></br>
        </div>
      </div>
      </div>
      </div>