<div>
    <a href="/admin" style="position:absolute;left:10%;top:10%;text-decoration:none;"><i class="fas fa-user-shield fa-2x"></i>Admin page</a>
  

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">No documents found</h1>
      </div>
    </div>
</div>
</div>